/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #121212;
  }
  a {
    color: unset;
    text-decoration: none;
  }
  /* Global Container */
.container {
  padding: 0 15vw;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-bottom: 60px;
}
.header .container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
